* {
	box-sizing: border-box;
}

html {
	font-size: 16px;
}

body {
	margin: 0;
	font-family: sans-serif;
	background: #f5f6f7;
}

.header {
	text-align: center;
	text-transform: uppercase;
	padding: 32px;
	background-color: darkblue;
	color: #fff;
	border-bottom: 4px solid #fdb347;
}

.gallery {
	margin: 0 auto;
	padding: 20px 10px;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: center;
	justify-content: center;
}

.gallery img {
	width: 100%;
	max-width: 250px;
	height: 300px;
	object-fit: cover;
	border-radius: 10px;
}
@media (min-width: 600px) {
	.gallery {
		flex-direction: row;
		flex-wrap: wrap;
	}
	.gallery img {
		max-width: 300px;
	}
}
@media (min-width: 768px) {
	body {
		background-image: url("raspitas.jpg");
	}
	.gallery img {
		max-width: 350px;
	}
}
@media (min-width: 992px) {
	.gallery img {
		max-width: 400px;
		min-width: 100%;
	}
	.gallery {
		display: grid;
		grid-template-columns: 3fr 1fr 1fr;
	}
}

@media (min-width: 1200px) {
	.gallery img {
		max-width: 500px;
	}
}
